colorama==0.4.3
coloredlogs==14.0
commonmark==0.9.1
deb-pkg-tools==8.3
executor==23.1
fasteners==0.15
humanfriendly==8.2
monotonic==1.5
property-manager==3.0
Pygments==2.6.1
PyInputPlus==0.2.10
pyreadline==2.1
PySimpleValidate==0.2.12
python-memcached==1.59
rich==5.1.2
six==1.15.0
stdiomask==0.0.5
typing-extensions==3.7.4.2
verboselogs==1.7
